
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GoSurf!</title>
		<script type="text/javascript" src="app.js"></script>
        <link rel="stylesheet" href="static/css/style.css" />
        <link rel=”stylesheet” type="text/css" href="{{ url_for('static',filename='style.css') }}">

    <script>
        function myFunctionHide() {
		document.getElementById("other-city").style.display = 'none';
		document.getElementById("show-forcast").style.display = 'none';
		document.getElementById("input-city").style.display = 'block';
		document.getElementById("input-text").style.display = 'block';
		document.getElementById("gosurf-button").style.display = 'block';
		var city = "Los Angeles";
		  //document.getElementById("city").innerHTML = input-city.value;
	}
    </script>
	</head>

<body>
<div class="body-all" style="height: 800px;"></div>
<div class="img-background" style="	width: 1530px; height:900px; left: -10px;">
</div>


<div class="anim">
<p> GoSurf! </p>
</div>

<hr style="color: #F3F0EE; position:absolute; width: 1370px; top: 14%; left:85px;">


<div class="box-1"  style="opacity: 0.7;">
</div>
<div class="box-1-headline" style="opacity: 0.7;">
<h1>  </h1>
</div>
<div class="location">
<img width="50" height="50" style="position:absolute; padding-top: 1%; top: 5px; left: 10px;" src="{{url_for('static', filename='location.png')}}">
<h1 style="position:absolute; font-size: 50px; top: 57px; left: 70px;font-family: 'Source Code Pro', monospace; font-weight:bold">{{ weather['City'][0] }}, {{ weather['Country'][0] }}</h1>
<h1 style="position:absolute; font-size: 40px; top: -10px; left: 70px; font-family: 'Source Code Pro', monospace; font-weight:bold ">LOCATION</h1>
</div>


<div class="box-2" style="opacity: 0.7;">
</div>
<div class="box-2-headline" style="opacity: 0.7;">
<h1></h1>
</div>
<img width="45" height="50" style="position:absolute; padding-top: 1%; top: 390px; left: 110px; " src="{{url_for('static', filename='wave.png')}}">
<h1 style="position:absolute; font-size: 50px; top: 445px; left: 170px;font-family: 'Source Code Pro', monospace; font-weight:bold"> {{ weather['Highest Wave'][0] }} m</h1>
<h1 style="position:absolute; font-size: 38px; top: 383px; left: 170px; font-family: 'Source Code Pro', monospace; font-weight:bold ">WAVE HEIGHT</h1>


<div class="box-3" style="opacity: 0.7;">
</div>
<div class="box-3-headline" style="opacity: 0.7;">
<h1>  </h1>
</div>
<img width="45" height="45" style="position:absolute; padding-top: 1%; top: 393px; left: 510px; " src="{{url_for('static', filename='water.png')}}">
<h1 style="position:absolute; font-size: 50px; top: 445px; left: 590px; font-family: 'Source Code Pro', monospace; font-weight:bold">{{ weather['Best Water Temp'][0] }}</h1>
<h1 style="position:absolute; font-size: 38px; top: 383px; left: 580px; font-family: 'Source Code Pro', monospace; font-weight:bold "> WATER TEMP </h1>


<div class="box-4" style="opacity: 0.7;">
</div>
<div class="box-4-headline" style="opacity: 0.7;">
<h1>  </h1>
</div>
<img width="45" height="45" style="position:absolute; padding-top: 1%; top: 585px; left: 510px; " src="{{url_for('static', filename='air.png')}}">
<h1 style="position:absolute; font-size: 50px; top: 635px; left: 590px; font-family: 'Source Code Pro', monospace; font-weight:bold"> {{ weather['Best Air Temp'][0]  }}  <!--{{ weather['Weather'][0] }}--></h1>
<h1 style="position:absolute; font-size: 38px; top: 573px; left: 580px; font-family: 'Source Code Pro', monospace; font-weight:bold "> AIR TEMP </h1>



<div class="box-5" style="opacity: 0.7;">
</div>
<div class="box-5-headline" style="opacity: 0.7;">
<h1> </h1>
</div>
<div class="loction">
<img width="50" height="52" style="position:absolute; padding-top: 1%; top: 580px; left: 110px; " src="{{url_for('static', filename='wind.png')}}">
<h1 style="position:absolute; font-size: 50px; top: 635px; left: 135px; font-family: 'Source Code Pro', monospace; font-weight:bold">{{ weather['Best Wind Speed'][0] }}</h1>
<h1 style="position:absolute; font-size: 38px; top: 573px; left: 180px; font-family: 'Source Code Pro', monospace; font-weight:bold "> WIND SPEED </h1>
</div>



<div class="box-6" style="opacity: 0.7;">
</div>
<div class="box-6-headline" style="opacity: 0.7;">
<h1> </h1>
</div>
<img width="50" height="50" style="position:absolute; padding-top: 1%; top: 155px; left: 915px;" src="{{url_for('static', filename='timee.png')}}" >
<h1 style="position:absolute; font-size: 45px; top: 240px; left: 915px; font-family: 'Source Code Pro', monospace; font-weight:bold">{{ weather['Best Time To Surf'][0] }}</h1>
<h1 style="position:absolute; font-size: 38px; top: 148px; left: 980px; font-family: 'Source Code Pro', monospace; font-weight:bold">BEST TIME</h1>



<div class="flip-box">
  <div class="flip-box-inner">
    <div class="flip-box-front">
        <img width="45" height="45" style="position:absolute; top: 45px; left: 80px;" src="{{url_for('static', filename='star.png')}}" >
      <h2 style="text-align:center;  position:absolute; top: -10px; left: 17px; font-size: 55px; font-family: 'Source Code Pro', monospace; font-weight:bold">{{ weather['Surfer Level Stars'][0] }} </h2>
    </div>
    <div class="flip-box-back">
      <h2 style="text-align:center; position:absolute; top: 25px; left: 13px; font-size: 30px; font-family: 'Source Code Pro', monospace; font-weight:bold">{{ weather['Surfer Level'][0] }}</h2>
    </div>
  </div>
</div>

<div class="box-7-headline" style="width: 115px; opacity: 0.9;">
<h1> </h1>
<h1 style="position:absolute; font-size: 40px; top: 70px; left: 25px;"> </h1>
</div>
<img width="32" height="38" style="position:absolute; padding-top: 1%; top: 161px; left: 1310px; " src="{{url_for('static', filename='level.png')}}">
<h1 style="position:absolute; font-size: 38px; top: 148px; left: 1350px; font-family: 'Source Code Pro', monospace; font-weight:bold">LVL</h1>



<a class="button" id="other-city" onClick="myFunctionHide()" style="position:absolute; left:930px; top: 50px; font-size: 20px;	 font-family: 'Source Code Pro', monospace; height: 25px; width: 120px;"  href="#">Other City</a>
<h1 id="input-text" style="position:absolute; left:600px; top:40px; font-size:27px; color: white; font-family: 'Source Code Pro', monospace; display: none;">Enter City Name: </h1>
<form action='/city' method='post'>
<input type="text" id="input-city" name="new_city" style="position:absolute; left:860px; top: 49px; width: 280px; height: 47px; border-color: black; font-size: 25px; color: black; border-radius: 8px; display:none;"></input>
<button class="button" type="submit" value="submit" id="gosurf-button" onClick="newCity()" style="position:absolute; left:1180px; top: 50px;  font-size: 20px ; display: none; height: 52px; width: 190px;" href="#">GoSurf! Again</button>
</form>

<form action='/forecast' method='post'>
<button  class="button" type="submit" name="24_hours" id="show-forcast"   style="position:absolute; left:1120px; top: 50px; font-size: 20px; font-family: 'Source Code Pro', monospace; height: 51px; width: 230px;" href="/forcast.html">Full Forecast</button >
</form>


<table id="t01" style="position: absolute; top:400px; left: 900px; width: 540px; height: 100px; font-family: 'Source Code Pro', monospace; font-size: 15px;">

  <tr>
    <th style="text-align: center; border-radius: 20px 0px 0px 0px;">Date</th>
    <th style="text-align: center;">Time</th>
    <th style="text-align: center;">Wave Height</th>
	<th style="text-align: center;">Wind Speed</th>
    <th style="text-align: center;">Air Temp</th>
	<th style="text-align: center; border-radius: 0px 20px 0px 0px;">Water Temp</th>
  </tr>

<tr>
    <td style="	color: #ffffff;">{{ weather_table['Date'][0]}}</td>
    <td style="	color: #ffffff;">{{  weather_table['Time'][0]}}</td>
    <td style="	color: #ffffff;">{{  weather_table['Wave Height'][0] }} m</td>
	<td style="	color: #ffffff;">{{  weather_table['Wind Speed'][0] }}</td>
	<td style="	color: #ffffff;">{{  weather_table['Air Temperature'][0] }}</td>
    <td style="	color: #ffffff;">{{  weather_table['Water Temperature'][0] }}</td>
  </tr>
<tr>
    <td style="	color: #ffffff;">{{ weather_table['Date'][1]}}</td>
    <td style="	color: #ffffff;">{{  weather_table['Time'][1]}}</td>
    <td style="	color: #ffffff;">{{  weather_table['Wave Height'][1] }} m</td>
	<td style="	color: #ffffff;">{{  weather_table['Wind Speed'][1] }}</td>
	<td style="	color: #ffffff;">{{  weather_table['Air Temperature'][1] }}</td>
    <td style="	color: #ffffff;">{{  weather_table['Water Temperature'][1] }}</td>
  </tr>
<tr>
    <td style="	color: #ffffff;">{{ weather_table['Date'][2]}}</td>
    <td style="	color: #ffffff;">{{  weather_table['Time'][2]}}</td>
    <td style="	color: #ffffff;">{{  weather_table['Wave Height'][2] }} m</td>
	<td style="	color: #ffffff;">{{  weather_table['Wind Speed'][2] }}</td>
	<td style="	color: #ffffff;">{{  weather_table['Air Temperature'][2] }}</td>
    <td style="	color: #ffffff;">{{  weather_table['Water Temperature'][2] }}</td>
  </tr>
    <tr>
    <td style="	color: #ffffff;">{{  weather_table['Date'][3]}}</td>
    <td style="	color: #ffffff;">{{  weather_table['Time'][3]}}</td>
    <td style="	color: #ffffff;">{{  weather_table['Wave Height'][3] }} m</td>
	<td style="	color: #ffffff;">{{  weather_table['Wind Speed'][3] }}</td>
	<td style="	color: #ffffff;">{{  weather_table['Air Temperature'][3] }}</td>
    <td style="	color: #ffffff;">{{  weather_table['Water Temperature'][3] }}</td>
  </tr>
   <tr>
    <td style="	color: #ffffff;">{{ weather_table['Date'][4]}}</td>
    <td style="	color: #ffffff;">{{  weather_table['Time'][4]}}</td>
    <td style="	color: #ffffff;">{{  weather_table['Wave Height'][4] }} m</td>
	<td style="	color: #ffffff;">{{  weather_table['Wind Speed'][4] }}</td>
	<td style="	color: #ffffff;">{{  weather_table['Air Temperature'][4] }}</td>
    <td style="	color: #ffffff;">{{  weather_table['Water Temperature'][4] }}</td>
  </tr>
     <tr>
    <td style="	color: #ffffff;">{{ weather_table['Date'][5]}}</td>
    <td style="	color: #ffffff;">{{  weather_table['Time'][5]}}</td>
    <td style="	color: #ffffff;">{{  weather_table['Wave Height'][5] }} m</td>
	<td style="	color: #ffffff;">{{  weather_table['Wind Speed'][5] }}</td>
	<td style="	color: #ffffff;">{{  weather_table['Air Temperature'][5] }}</td>
    <td style="	color: #ffffff;">{{  weather_table['Water Temperature'][5] }}</td>
  </tr>
     <tr>
    <td style="	color: #ffffff;">{{ weather_table['Date'][6]}}</td>
    <td style="	color: #ffffff;">{{  weather_table['Time'][6]}}</td>
    <td style="	color: #ffffff;">{{  weather_table['Wave Height'][6] }} m</td>
	<td style="	color: #ffffff;">{{  weather_table['Wind Speed'][6] }}</td>
	<td style="	color: #ffffff;">{{  weather_table['Air Temperature'][6] }}</td>
    <td style="	color: #ffffff;">{{  weather_table['Water Temperature'][6] }}</td>
  </tr>
     <tr>
    <td style="	color: #ffffff; border-radius: 0px 0px 0px 20px;">{{ weather_table['Date'][7]}}</td>
    <td style="	color: #ffffff;">{{  weather_table['Time'][7]}}</td>
    <td style="	color: #ffffff;">{{  weather_table['Wave Height'][7] }} m</td>
	<td style="	color: #ffffff;">{{  weather_table['Wind Speed'][7] }}</td>
	<td style="	color: #ffffff;">{{  weather_table['Air Temperature'][7] }}</td>
    <td style="	color: #ffffff; border-radius: 0px 0px 20px 0px;">{{  weather_table['Water Temperature'][7] }}</td>
  </tr>

</table>


</div>

<h1 style="position: absolute; top: 850px; left: 600px; font-family: 'Source Code Pro', monospace; color:white; font-size: 18px; ">Copyright © 2020 GoSurf!</h1>

</body>


</html>

